################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test Task/DataAccess/obj
/Test Task/Test_Task/obj
